<h1> <%= gettext "Welcome %{firstname} %{lastname}", firstname: @user.first_name, lastname: @user.last_name %></h1>
<%= link gettext("Verify account"),
  to: Routes.user_url(ProjectWeb.Endpoint, :update_verification, verification_token: @user.verification_token) %>
